h2
{
	font-family: "Segoe UI light",Arial,serif;
}
#info
{
font-family: "Segoe UI light",Arial,serif;
font-size: 20px;  
text-align: center;
margin: 5%;
}
#talk
{
font-family: "Segoe UI light",Arial,serif;
/* font-size: 15px; */
text-align: center;
margin: 5%;
text-shadow: 1px 1px 1px steelblue;
font-size: 1em;
}
#logo
{
    border: 1px dotted yellowgreen;
    font-family: "Segoe UI light",Arial,serif;
text-shadow: 1px 1px 1px steelblue;
}
#getIn
{
box-shadow: 0px 0px 5px rgb(139, 96, 88);
background: white;
}